<<<<<<< HEAD
<!-- Bottom Nav -->

<!-- File Name: Week03 Part02 -->
<!-- Eljin Viernes -->
<!-- 300750971 -->
<!-- October 8, 2020 -->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020 All Rights reserved.</h1>
    </nav>
=======
<!-- Bottom Nav -->

<!-- File Name: Week03 Part02 -->
<!-- Eljin Viernes -->
<!-- 300750971 -->
<!-- October 8, 2020 -->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020 All Rights reserved.</h1>
    </nav>
>>>>>>> 691e9e7897b80c6aa2159708b4517251306b217e
  </footer>